html {
    height: 100%;
}

body {
    font: 18px Arial;
    margin: 0 5%;
    height: 100%;
}

.content {
    padding: 3%;
    background-color: #eeeef6;
    height: 100%;
}

section {
    margin-bottom: 20px;
}

.sample {
    color: #0000ff;
}
