body {
    font: 18px Arial;
    margin: 0 5%;
}

.content {
    padding: 3%;
    background-color: #eeeef6;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    font: 16px monospace;
}

li {
    margin-bottom: 10px;
}

ul li {
    color: #0000ff;
}
